<div class="button-section">
	<h3>Buttons</h3>
	 <a class="btn btn-default">Normal <i class="fa fa-caret-right"></i></a>
	 <a class="btn btn-lg btn-primary">Large <i class="fa fa-caret-right"></i></a>
</div>