<div class="cta">

  <div class="container content">
    <h3>Call-to-Action</h3>
  </div>
  <!--
  <div class="cta_custom cta_section">
    <div class="container">
      <div class="row">
        CONTENT FROM HTML FIELD
      </div>
    </div>
  </div>
-->
  <div class="cta-standard section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <!-- FORM --><a data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne" href="#ctaForm">
          <!-- NO FORM <a href="#"> -->
            <img class="img-responsive" src="http://placehold.it/390x390">
          </a>
        </div>
        <div class="col-md-8 col-md-offset-1">
          <h2>Nulla vel arcu sit amet nisi faucibus fringilla</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis lorem in maximus rhoncus. Vivamus hendrerit neque est, eget facilisis quam euismod eu. Integer quam quam, dignissim eget maximus finibus, suscipit eget ante. Vestibulum lacinia velit id libero luctus, eu molestie mauris posuere. Maecenas vitae metus eu tellus viverra sollicitudin ut vel odio. In hac habitasse platea dictumst. Nulla vel arcu sit amet nisi faucibus fringilla. Nulla ut vestibulum elit, nec aliquet orci.</p>
          <p>
            <!-- FORM --><a class="btn btn-default btn-cta" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne" href="#ctaForm">
            <!-- NO FORM <a class="btn btn-default btn-cta" href="#"> -->
            BUTTON
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="cta-form section">

    <div id="ctaForm" class="panel-collapse collapse" role="tabpanel">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            EXPANDABLE SECTION
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Check me out
                </label>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

</div> <!-- /cta --> 