<div class="design-elements">
  <h3>Design Elements</h3>
    <div class="col-xs-12">
      <img src="http://placehold.it/525x165" class="img-responsive" alt="">
    </div>
    <div class="col-xs-6">
      <img src="http://placehold.it/247x165" class="img-responsive" alt="">
    </div>
    <div class="col-xs-6">
      <img src="http://placehold.it/247x165" class="img-responsive" alt="">
    </div>
    <div class="col-xs-12">
      <img src="http://placehold.it/525x165" class="img-responsive" alt="">
    </div>
</div>