<div class="row">
  <div class="col-sm-6 list-item">
    <h3>Lorem Ipsum Dolor Sit:</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-angle-double-right"></i>Lorem ipsum dolor sit amet</li>
      <li><i class="fa-li fa fa-angle-double-right"></i>Consectetur adipiscing elit</li>
      <li><i class="fa-li fa fa-angle-double-right"></i>Nulla volutpat aliquam velit</li>
      <li><i class="fa-li fa fa-angle-double-right"></i>Faucibus porta lacus fringilla</li>
      <li><i class="fa-li fa fa-angle-double-right"></i>Aenean sit amet erat nunc</li>
      <li><i class="fa-li fa fa-angle-double-right"></i>Eget porttitor lorem</li>
    </ul>
  </div>
  <div class="col-sm-6 list-item">
    <h3>Lorem Ipsum Dolor Sit:</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-check"></i>Lorem ipsum dolor sit amet</li>
      <li><i class="fa-li fa fa-check"></i>Consectetur adipiscing elit</li>
      <li><i class="fa-li fa fa-check"></i>Nulla volutpat aliquam velit</li>
      <li><i class="fa-li fa fa-check"></i>Faucibus porta lacus fringilla</li>
      <li><i class="fa-li fa fa-check"></i>Aenean sit amet erat nunc</li>
      <li><i class="fa-li fa fa-check"></i>Eget porttitor lorem</li>
    </ul>
  </div>
</div>