<div class="hero-banner">

  <div class="hero-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h1>Lorem Ipsum Dolor Sit  ut Wisi Enim ad Minim</h1>
                <p class="lead">mod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
        </div>
    </div>
  </div><!--/.hero-content-->

</div><!--/.hero-banner-->