<div class="row">
  <div class="col-sm-6 list-item">
    <h3>Lorem Ipsum Dolor Sit:</h3>
    <ul>
      <li><span>Lorem ipsum dolor sit amet</span></li>
      <li><span>Consectetur adipiscing elit</span></li>
      <li><span>Integer molestie lorem at</span></li>
      <li><span>Facilisis in pretium nisl</span></li>
      <li><span>Nulla volutpat aliquam velit</span></li>
      <li><span>Faucibus porta lacus fringilla</span></li>
    </ul>
  </div>
  <div class="col-sm-6 list-item">
    <h3>Lorem Ipsum Dolor Sit:</h3>
    <ol>
      <li><span>Lorem ipsum dolor sit amet</span></li>
      <li><span>Consectetur adipiscing elit</span></li>
      <li><span>Integer molestie lorem at</span></li>
      <li><span>Facilisis in pretium nisl</span></li>
      <li><span>Nulla volutpat aliquam velit</span></li>
      <li><span>Faucibus porta lacus fringilla</span></li>
    </ol>
  </div>
</div>