<div class="navbar pre-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h4><a href="#">Column 1</a></h4>
          <ul class="nav">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h4><a href="#">Column 2</a></h4>
          <ul class="nav">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h4><a href="#">Column 3</a></h4>
          <ul class="nav">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h4><a href="#">Column 4</a></h4>
          <ul class="nav">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>