<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Grunt Boilerplate</title>
        <meta name="description" content="">
        <link rel="shortcut icon" href="favicon.ico">
        <!--Mobile Meta-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/vendor/jquery.bxslider.css">
        <link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
        <link rel="stylesheet" href="css/style.css">
        

        <script src="js/vendor/wow.min.js" type="text/javascript"></script>
        
        <script>
            new WOW().init();
        </script>

        <!--[if lte IE 8]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
         	<script src="https://raw.githubusercontent.com/scottjehl/Respond/master/src/respond.js"></script>
        <![endif]-->
    </head>
<body>
	<nav class="navbar-container navbar-fixed-top">

    <div class="navbar global-nav hidden-xs" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link 1</a></li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Link 2 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Link 1 <i class="fa fa-caret-right"></i></a></li>
                            <li><a href="#">Link 2 <i class="fa fa-caret-right"></i></a></li>
                            <li><a href="#">Link 3 <i class="fa fa-caret-right"></i></a></li>
                            <li><a href="#">Link 4 <i class="fa fa-caret-right"></i></a></li>
                        </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar main-nav" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            MENU
                        </button>
                        <a class="navbar-brand" href="#">
                            Style Tile
                            <!--<img src="img/logo.png">-->
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Link 1 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Link 1 <i class="fa fa-caret-right"></i></a></li>
                                <li><a href="#">Link 2 <i class="fa fa-caret-right"></i></a></li>
                                <li><a href="#">Link 3 <i class="fa fa-caret-right"></i></a></li>
                                <li><a href="#">Link 4 <i class="fa fa-caret-right"></i></a></li>
                            </ul>
                            </li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                            <li><a href="#">Link 4</a></li>
                            <li><a href="#">Link 5</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </div>

</nav>
	<div class="hero-banner">

  <div class="hero-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h1>Lorem Ipsum Dolor Sit  ut Wisi Enim ad Minim</h1>
                <p class="lead">mod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
        </div>
    </div>
  </div><!--/.hero-content-->

</div><!--/.hero-banner-->
	<div class="container">
    <div class="row">
    	
    	<div class="col-md-6">
    		<h1>This is an Example of a Header</h1>
			<h2>This is an Example of a Sub Head</h2>
			<h3>This is an Example of a another Sub Head</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula lacus, lobortis ac magna quis, porta venenatis nisi. Nulla posuere est metus, sed rutrum nibh pulvinar et. Sed ullamcorper tincidunt fermentum. Donec mollis, purus ac ullamcorper tempus, massa turpis luctus massa, non rutrum lorem risus vitae purus. In mollis justo at purus tincidunt, eu luctus arcu venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce lorem sem, congue ut lorem quis, viverra rutrum dolor.</p>

			<p><a href="#">This is an example of a text link <i class="fa fa-caret-right"></i></a></p>

			<div class="section-spacer"></div>

			<h3>Quotes/Callouts</h3>
                <div class="col-sm-12">
                    <blockquote>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
                </div>
            <div class="clearfix"></div>
            
            <div class="section-spacer"></div>

            <h3>Lists</h3>
            <div class="row">
  <div class="col-sm-6 list-item">
    <h3>Lorem Ipsum Dolor Sit:</h3>
    <ul>
      <li><span>Lorem ipsum dolor sit amet</span></li>
      <li><span>Consectetur adipiscing elit</span></li>
      <li><span>Integer molestie lorem at</span></li>
      <li><span>Facilisis in pretium nisl</span></li>
      <li><span>Nulla volutpat aliquam velit</span></li>
      <li><span>Faucibus porta lacus fringilla</span></li>
    </ul>
  </div>
  <div class="col-sm-6 list-item">
    <h3>Lorem Ipsum Dolor Sit:</h3>
    <ol>
      <li><span>Lorem ipsum dolor sit amet</span></li>
      <li><span>Consectetur adipiscing elit</span></li>
      <li><span>Integer molestie lorem at</span></li>
      <li><span>Facilisis in pretium nisl</span></li>
      <li><span>Nulla volutpat aliquam velit</span></li>
      <li><span>Faucibus porta lacus fringilla</span></li>
    </ol>
  </div>
</div>

            <div class="section-spacer clearfix"></div>

            <h4>Font Awesome List Styles</h4>
            <div class="row">
  <div class="col-sm-6 list-item">
    <h3>Lorem Ipsum Dolor Sit:</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-angle-double-right"></i>Lorem ipsum dolor sit amet</li>
      <li><i class="fa-li fa fa-angle-double-right"></i>Consectetur adipiscing elit</li>
      <li><i class="fa-li fa fa-angle-double-right"></i>Nulla volutpat aliquam velit</li>
      <li><i class="fa-li fa fa-angle-double-right"></i>Faucibus porta lacus fringilla</li>
      <li><i class="fa-li fa fa-angle-double-right"></i>Aenean sit amet erat nunc</li>
      <li><i class="fa-li fa fa-angle-double-right"></i>Eget porttitor lorem</li>
    </ul>
  </div>
  <div class="col-sm-6 list-item">
    <h3>Lorem Ipsum Dolor Sit:</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-check"></i>Lorem ipsum dolor sit amet</li>
      <li><i class="fa-li fa fa-check"></i>Consectetur adipiscing elit</li>
      <li><i class="fa-li fa fa-check"></i>Nulla volutpat aliquam velit</li>
      <li><i class="fa-li fa fa-check"></i>Faucibus porta lacus fringilla</li>
      <li><i class="fa-li fa fa-check"></i>Aenean sit amet erat nunc</li>
      <li><i class="fa-li fa fa-check"></i>Eget porttitor lorem</li>
    </ul>
  </div>
</div>

            <div class="section-spacer clearfix"></div>
    	</div>

    	<div class="col-md-6">
            <h3>Primary Colors</h3>
  <div class="color-swatches primary">
    <div class="color-1"></div>
    <div class="color-2"></div>
    <div class="color-3"></div>
    <div class="color-4"></div>
  </div>
<h3>Secondary Colors</h3>
  <div class="color-swatches secondary">
    <div class="secondary color-5"></div>
    <div class="secondary color-6"></div>
    <div class="secondary color-7"></div>
    <div class="secondary color-8"></div>
  </div>

            <div class="section-spacer"></div>

            <div class="design-elements">
  <h3>Design Elements</h3>
    <div class="col-xs-12">
      <img src="http://placehold.it/525x165" class="img-responsive" alt="">
    </div>
    <div class="col-xs-6">
      <img src="http://placehold.it/247x165" class="img-responsive" alt="">
    </div>
    <div class="col-xs-6">
      <img src="http://placehold.it/247x165" class="img-responsive" alt="">
    </div>
    <div class="col-xs-12">
      <img src="http://placehold.it/525x165" class="img-responsive" alt="">
    </div>
</div>

            <div class="section-spacer clearfix"></div>

            <div class="button-section">
	<h3>Buttons</h3>
	 <a class="btn btn-default">Normal <i class="fa fa-caret-right"></i></a>
	 <a class="btn btn-lg btn-primary">Large <i class="fa fa-caret-right"></i></a>
</div>

            <div class="section-spacer clearfix"></div>

            <div class="icon-styles">
	<h3>Icon Styles</h3>
	  <span class="glyphicon glyphicon-map-marker"></span>
	  <span class="glyphicon glyphicon-info-sign"></span>
	  <span class="glyphicon glyphicon-calendar"></span>
	  <span class="glyphicon glyphicon-circle-arrow-right"></span>
	  <span class="glyphicon glyphicon-link"></span>
	  <br>
	  <span class="pe-7s-map-marker"></span>
	  <span class="pe-7s-user-female"></span>
	  <span class="pe-7s-angle-down-circle"></span>
	  <span class="pe-7s-film"></span>
	  <span class="pe-7s-light"></span>
</div>
    		
    	</div>
    </div>
</div><!--/.container -->

	<div class="section-spacer"></div>
	<section class="content-block">

  <div class="container content">
    <h3>Content Blocks</h3>

    <div class="row">
      <div class="col-md-4">
        <h2><a href="#">Heading</a></h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View details <i class="fa fa-caret-right"></i></a></p>
      </div>
      <div class="col-md-4">
        <h2><a href="#">Heading</a></h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View details <i class="fa fa-caret-right"></i></a></p>
     </div>
      <div class="col-md-4">
        <h2><a href="#">Heading</a></h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <p><a class="btn btn-default" href="#" role="button">View details <i class="fa fa-caret-right"></i></a></p>
      </div>
    </div>

  </div> <!-- /container -->

</section> <!-- /content-block --> 
	<div class="feed-block">
  <div class="container">
    <h3>Feeds</h3>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      
      <div class="col-md-4">
        <div class="row feed-item">
          <div class="col-md-12">
            <p class="date">Nov 20, 2014</p>
            <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details <i class="fa fa-caret-right"></i></a></p>

          </div>
        </div>
        <hr>
        <div class="row feed-item">
          <div class="col-md-12">
            <p class="date">Nov 20, 2014</p>
                    <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details <i class="fa fa-caret-right"></i></a></p>

          </div>
        </div>
      </div>
        <!-- Temp spacer -->
        <div class="col-md-1"></div>
        
      <div class="col-md-7">
        <div class="row feed-item image-feed">
          <a href="#">
            <div class="col-sm-6 image-link">
              <div class="image-overlay">
                <img src="http://placehold.it/320x165" class="img-responsive">
                <!-- <p>View Details</p> -->
              </div>
            </div>
          </a>
          <div class="col-sm-6">
            <p class="date">Nov 20, 2014</p>
                    <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus.</p>
            <p><a href="#">View details ></a></p>
          </div>
        </div>
        <hr>
        <div class="row feed-item image-feed">
          <a href="#">
            <div class="col-sm-6 image-link image-link-hover">
              <div class="image-overlay">
                <img src="http://placehold.it/320x165" class="img-responsive">
              </div>
            </div>
          </a>
          <div class="col-sm-6">
            <p class="date">Nov 20, 2014</p>
            <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus.</p>
            <p><a href="#">View details ></a></p>
          </div>
        </div>

      </div>

    </div>

  </div> <!-- /container -->   

</div> <!-- /feed-block --> 
	<div class="cta">

  <div class="container content">
    <h3>Call-to-Action</h3>
  </div>
  <!--
  <div class="cta_custom cta_section">
    <div class="container">
      <div class="row">
        CONTENT FROM HTML FIELD
      </div>
    </div>
  </div>
-->
  <div class="cta-standard section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <!-- FORM --><a data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne" href="#ctaForm">
          <!-- NO FORM <a href="#"> -->
            <img class="img-responsive" src="http://placehold.it/390x390">
          </a>
        </div>
        <div class="col-md-8 col-md-offset-1">
          <h2>Nulla vel arcu sit amet nisi faucibus fringilla</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis lorem in maximus rhoncus. Vivamus hendrerit neque est, eget facilisis quam euismod eu. Integer quam quam, dignissim eget maximus finibus, suscipit eget ante. Vestibulum lacinia velit id libero luctus, eu molestie mauris posuere. Maecenas vitae metus eu tellus viverra sollicitudin ut vel odio. In hac habitasse platea dictumst. Nulla vel arcu sit amet nisi faucibus fringilla. Nulla ut vestibulum elit, nec aliquet orci.</p>
          <p>
            <!-- FORM --><a class="btn btn-default btn-cta" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne" href="#ctaForm">
            <!-- NO FORM <a class="btn btn-default btn-cta" href="#"> -->
            BUTTON
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="cta-form section">

    <div id="ctaForm" class="panel-collapse collapse" role="tabpanel">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            EXPANDABLE SECTION
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Check me out
                </label>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

</div> <!-- /cta --> 
	<div class="navbar pre-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h4><a href="#">Column 1</a></h4>
          <ul class="nav">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h4><a href="#">Column 2</a></h4>
          <ul class="nav">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h4><a href="#">Column 3</a></h4>
          <ul class="nav">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h4><a href="#">Column 4</a></h4>
          <ul class="nav">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>
	<footer class="footer navbar navbar-inverse">
  <div class="container">
    <div class="nav navbar footer-nav">
      <a href="#">Link 1</a> |
      <a href="#">Link 2</a> |
      <a href="#">Link 3</a>
    </div>
  </div>
</footer>
    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" type="text/javascript"></script>
    <script src="js/vendor/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="js/vendor/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/vendor/headroom.min.js" type="text/javascript"></script>
    <script src="js/vendor/jQuery.headroom.min.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.matchHeight.js" type="text/javascript"></script>
    <script src="js/vendor/enquire.min.js" type="text/javascript"></script>
    <script src="js/plugins.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.bxslider.min.js" type="text/javascript"></script>
    
</body>
</html>