<div class="container">
    <div class="row">
    	{{>alert}}
    	<div class="col-md-6">
    		<h1>This is an Example of a Header</h1>
			<h2>This is an Example of a Sub Head</h2>
			<h3>This is an Example of a another Sub Head</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula lacus, lobortis ac magna quis, porta venenatis nisi. Nulla posuere est metus, sed rutrum nibh pulvinar et. Sed ullamcorper tincidunt fermentum. Donec mollis, purus ac ullamcorper tempus, massa turpis luctus massa, non rutrum lorem risus vitae purus. In mollis justo at purus tincidunt, eu luctus arcu venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce lorem sem, congue ut lorem quis, viverra rutrum dolor.</p>

			<p><a href="#">This is an example of a text link <i class="fa fa-caret-right"></i></a></p>

			<div class="section-spacer"></div>

			<h3>Quotes/Callouts</h3>
                <div class="col-sm-12">
                    {{>blockquote}}
                </div>
            <div class="clearfix"></div>
            
            <div class="section-spacer"></div>

            <h3>Lists</h3>
            {{>lists}}

            <div class="section-spacer clearfix"></div>

            <h4>Font Awesome List Styles</h4>
            {{>fontawesome-lists}}

            <div class="section-spacer clearfix"></div>
    	</div>

    	<div class="col-md-6">
            {{>colors}}

            <div class="section-spacer"></div>

            {{>design-elements}}

            <div class="section-spacer clearfix"></div>

            {{>buttons}}

            <div class="section-spacer clearfix"></div>

            {{>icons}}
    		
    	</div>
    </div>
</div><!--/.container -->