.angle {
	border-style: solid solid solid dashed;
	border-top-width: $angle-border-height;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 2880px;
	&.top {
		border-color: white transparent transparent transparent;
	}
	&.bottom {
		border-color: transparent transparent transparent white;
	}
	&.rev {
		border-right-width: 2880px;
		border-left-width: 0;
	}
}