/*-------------------------------------------------------*\
    Buttons
/*-------------------------------------------------------*/

.btn {
    text-decoration: none;
    white-space: normal;
    text-transform: uppercase;
}