<div class="alert alert-success fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Interactive Style Tile:</strong> This is an interactive style tile. It is a tool to use during the creative and development process of new client websites. The goal is to ensure consistency in the initial development and to provide a path and assistance for continuous development.
</div>