<div class="icon-styles">
	<h3>Icon Styles</h3>
	  <span class="glyphicon glyphicon-map-marker"></span>
	  <span class="glyphicon glyphicon-info-sign"></span>
	  <span class="glyphicon glyphicon-calendar"></span>
	  <span class="glyphicon glyphicon-circle-arrow-right"></span>
	  <span class="glyphicon glyphicon-link"></span>
	  <br>
	  <span class="pe-7s-map-marker"></span>
	  <span class="pe-7s-user-female"></span>
	  <span class="pe-7s-angle-down-circle"></span>
	  <span class="pe-7s-film"></span>
	  <span class="pe-7s-light"></span>
</div>